:root {
  --verde: #2e8b57;
  --branco: #fff;
  --cinzado: #333;
  --cinza: #222;
  --preto: #000;
  --font: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 97vh;
  background-color: var(--cinza);
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
}

.container {
  background-color: var(--branco);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--verde);
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 400px;
}

.container h1 {
  margin: 20px auto;
  border-bottom: 3px solid var(--verde);
}

.container p {
  margin: 0 auto;
  font-size: 1.25em;
  font-style: italic;
  color: var(--cinzado);
  margin-bottom: 20px;
}

.container label {
  margin: 10px 0 ;
  font-size: 1.2em;
}

.container input {
  border: 2px solid var(--preto);
  height: 25px;
  border-radius: 10px;
  padding: 8px;
  font-size: 1.2em;
  max-width: 100%;
}

.container input:focus, .container input:hover {
  outline: none;
  border: 2px solid var(--verde);
}

.container .texto-final {
  margin: 20px auto;
}

.texto-final {
  font-family: var(--font);
}